{{ define "main" }}
<div class="grid-layout" style="max-width: 1200px; margin: 100px auto; padding: 0 20px;">
    
    <div class="hero-text">
        <h1 style="margin: 0;">Minimalisme <br>& <span style="color: var(--primary-color);">Performance.</span></h1>
        <p style="font-size: 1.4rem; margin-top: 30px; opacity: 0.8;">Voici mon nouveau site, construit sans aucun thème, 100% sur-mesure.</p>
        <div style="margin-top: 50px;">
            <a href="#projets" class="btn-primary">Voir les projets</a>
        </div>
    </div>

    <div class="hero-image">
        <img src="https://cdn.unitycms.io/images/1yxh34BSazwAzCQUBGdJze.jpg" class="floating-img" style="width: 100%; border-radius: 30px;">
    </div>

</div>

<section id="projets" style="max-width: 1200px; margin: 0 auto; padding: 100px 20px;">
    <h2 style="font-size: 3rem; margin-bottom: 50px;">Sélection</h2>
    <div class="projects-grid">
        {{ range (where .Site.RegularPages "Section" "posts") }}
            {{ .Render "summary" }}
        {{ end }}
    </div>
</section>
{{ end }}